@font-face {
  font-family: IBMPlexSansArabic;
  src: url(./fonts/IBMPlexSansArabic-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: IBMPlexSansArabic;
  src: url(./fonts/IBMPlexSansArabic-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: IBMPlexSansArabic;
  src: url(./fonts/IBMPlexSansArabic-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: IBMPlexSansArabic;
  src: url(./fonts/IBMPlexSansArabic-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: IBMPlexSansArabic;
  src: url(./fonts/IBMPlexSansArabic-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: IBMPlexSansArabic;
  src: url(./fonts/IBMPlexSansArabic-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: IBMPlexSansArabic;
  src: url(./fonts/IBMPlexSansArabic-Bold.ttf);
  font-weight: 700;
}

body {
  margin: 0;
  font-family: IBMPlexSansArabic;
  background: #1A2033;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
